<launch>
  <group ns="my_ns">
  <arg name="rename" default="new_chatter" />
    <node name="sender" pkg="rospy_tutorials" type="listener.py" output="screen">
     <remap from="chatter" to="$(arg rename)"/>
    </node>
  <include file="$(find super_pavel_study_pkg)/scripts/another_one.launch" >
    <arg name="anotherename" value="$(arg rename)" />
  </include>
    <node name="receiver" pkg="rospy_tutorials" type="talker.py" output="screen">
      <remap from="chatter" to="$(arg rename)"/>
    </node>
 </group>
</launch>
